<h1><%= @entry.name %></h1>
<h2><%= @entry.about %></h2>
<p><%= simple_format(@entry.detail.gsub(/\\n/, "\n")) %></p>
<p><%= @entry.kind1 %></p>
<p><%= @entry.kind2 %></p>
<p><%= @entry.kana %></p>
<p><%= @entry.synonym %></p>
<%= button_to "承認", {:action => "confirm", :data => {:id => @entry.id, :name => @entry.name, :kana => @entry.kana, :about => @entry.about, :detail => @entry.detail, :kind1 => @entry.kind1, :kind2 => @entry.kind2, :synonym => @entry.synonym}}, :remote => false, data: {:confirm => "登録を承認します。"}, :class => "btn btn-success" %>
<ul class="inline-block">
  <li>
    <%= link_to '編集', edit_path, :class => "btn btn-warning" %>
  </li>
  <li>
    <%= button_to "非承認", {:action => "reject", :data => @entry.id}, :remote => false, data: {:disable_with => '拒否中', confirm: "登録を拒否します。"}, :class => "btn btn-danger" %>
  </li>
  <li>
    <%= link_to 'トップ', admin_index_path, :class => "btn btn-primary" %>
  </li>
</ul>
<%= stylesheet_link_tag "detail", :media=> "all" %>
