<h1><%= @entry.name %></h1>
<h2><%= @entry.about %></h2>
<p><%= simple_format(@entry.detail.gsub(/\\n/, "\n")) %></p>
<p><%= @entry.kind %></p>
<%= button_to "承認", {:action => "confirm", :data => {:id => @entry.id, :name => @entry.name, :kana => @entry.kana, :about => @entry.about, :detail => @entry.detail, :kind => @entry.kind}}, :remote => false, :class => "btn btn-success" %>
<%= button_to "非承認", {:action => "reject", :data => @entry.id}, :remote => false, :class => "btn btn-danger" %>
<%= link_to 'トップ', admin_index_path, :class => "btn btn-primary" %>
