<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>
<%= link_to admin_index_path, :class => 'top' do %>
  <%= image_tag 'image.png' , :width => '250', :height => '100'%>
<% end %>
<div class="info_detail">
<h1>ワード名：<%= @project.name %></h1>
<h2>概要：<%= @project.about %></h2>
<p>詳細：<%= simple_format(@project.detail.gsub(/\\n/, "\n")) %></p>
<p>大カテゴリー：<%= @project.kind1 %></p>
<p>小カテゴリー<%= @project.kind2 %></p>
<p>カナ<%= @project.kana %></p>
<p>同義語、類義語<%= @project.synonym %></p>
</div>
<ul class="inline-block">
	<li>
    <%= link_to '編集', edit_path, :class => "btn btn-warning" %>
  </li>
	<li>
    <%= button_to "削除", {:action => "destroy", :data => @project.id}, :remote => false, data: {confirm: "削除します。"}, :class => "btn btn-danger" %>
  </li>
	<li>
    <%= link_to '一覧', admin_list_path, :class => "btn btn-primary" %>
  </li>
  <li>
    <%= link_to 'トップ', admin_index_path, :class => "btn btn-success" %>
  </li>
</ul>
<%= stylesheet_link_tag "detail", :media=> "all" %>
