<h1><%= @project.id %>: <%= @project.name %></h1>
<h2><%= @project.group %></h2>
<p><%= @project.about %></p>
<%= link_to '一覧', admin_list_path, :class => "btn btn-primary" %>
<%= link_to 'トップ', admin_index_path, :class => "btn btn-success" %>
