<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>

<h1><%= image_tag 'favicon.ico' , :width => '45', :height => '45'%>&nbsp;検索結果一覧</h1>
<table class="table table-striped">
  <tr>
    <th>企画番号</th>
    <th>企画名</th>
    <th>企画団体名</th>
    <th>企画種類</th>
  </tr>
  <% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.id, detail_admin_path(project.id), :class => "btn btn-primary" %></td>
    <td><%= project.name %></td>
    <td><%= project.group %></td>
    <td><%= project.kind %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'トップ', admin_index_path %>
<%= stylesheet_link_tag "list", :media=> "all" %>
