<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>
<%= link_to admin_index_path, :class => 'top' do %>
  <%= image_tag 'image.png' , :width => '250', :height => '100'%>
<% end %>
<h1>一覧</h1>
<table class="table table-striped">
  <tr>
    <th>用語名</th>
    <th>概要</th>
    <th>大カテゴリー</th>
    <th>小カテゴリー</th>
  </tr>
  <% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, detail_admin_path(project.id) %></td>
    <td><%= link_to project.about, detail_admin_path(project.id) %></td>
    <td><%= link_to project.kind1, detail_admin_path(project.id) %></td>
    <td><%= link_to project.kind2, detail_admin_path(project.id) %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'トップ', admin_index_path %>
<%= stylesheet_link_tag "list", :media=> "all" %>
