<%= favicon_link_tag('favicon.ico') %>

<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
  <h1><%= link_to index_path, :class => "top" do %>
        <%= image_tag 'favicon.ico' %>&nbsp;KeTchUp
      <% end %></h1>
  <h2>明日のために調べよう!</h2>
</div>
</header>
<div id="word_area" class="center">
  <div id="word" class="fadein">
    <%= link_to project_path(@project.id) do %>
      <%= @project.name %>
    <% end %>
  </div>
</div>
<div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <%=link_to projects_path, :class=> "btn btn-primary btn-lg" do %>
        <i class='glyphicon glyphicon-search'></i>検索
      <% end %>
    </span>
  </div>
</div>
<%= form_tag('/projects', :method => 'get', class: "form-inline") do %>
  <%= text_field_tag :keyword, '', size: '100%', class: "form-control", placeholder: "keyword" %>
  <%= button_tag(type: "submit", class: "btn btn-default") do %>
  Search <i class="fa fa-search"></i>
  <% end %>
<% end %>
<div class="center fav-new">
  <%= link_to "お気に入り一覧", index_fav_list_path, :class => "btn btn-warning" %>
  <%= link_to '新規登録', new_project_path, :class => "btn btn-info" %>
</div>


<script>
function new_project() {
  $.ajax({
    url: 'index',
    type: 'GET',
    dataType: 'script'
    });
  setTimeout(execute,8500);
  }

  setInterval(new_project, 10000);
</script>
<%= stylesheet_link_tag "index", :media => "all" %>
<%= javascript_include_tag "fade" %>
