<tr>
  <th><%= sort_link @q, :name, '用語名' %></th>
  <th><%= sort_link @q, :about, '概要' %></th>
  <th><%= sort_link @q, :kind1, '大カテゴリー' %></th>
  <th><%= sort_link @q, :kind2, '小カテゴリー' %></th>
  <th><%= sort_link @q, :count, 'お気に入り' %></th>
</tr>
<% @projects.each do |project| %>
<tr>
  <td><%= link_to project.name, project_path(project.id) %></td>
  <td><%= link_to project.about, project_path(project.id) %></td>
  <td><%= link_to project.kind1, project_path(project.id) %></td>
  <td><%= link_to project.kind2, project_path(project.id) %></td>
  <td>
    <% if @lists.include?(project.id.to_s) %>
      <%= button_to "お気に入り解除", {:action => "fav_remove", :data => {:id => project.id, :before => @projects.ids}}, :remote => true, :onclick => "disable()", :class => "btn btn-danger favorite_action" %>
    <% else %>
      <%= button_to "お気に入り登録", {:action => "fav", :data => {:id => project.id, :before => @projects.ids}}, :remote => true, :onclick => "disable()", :class => "btn btn-warning favorite_action" %>
    <% end %>
    <i class='glyphicon glyphicon-star'></i><span id="count"><%= project.count %></span>
  </td>
</tr>
<% end %>
