<tr>
  <th>企画番号</th>
  <th>企画名</th>
  <th>企画団体名</th>
  <th>企画種類</th>
  <th></th>
</tr>
<% @projects.each do |project| %>
<tr>
  <td><%= link_to project.id, detail_path(project.id), :class => "btn btn-primary" %></td>
  <td><%= project.name %></td>
  <td><%= project.group %></td>
  <td><%= project.kind %></td>
  <td><% if @lists.include?(project.id.to_s) %>
        <%= button_to "お気に入り解除", {:action => "fav_remove_in_list", :data => project.id}, :remote => true, :class => "btn btn-danger" %>
      <% else %>
        <%= button_to "お気に入り登録", {:action => "fav_all", :data => project.id}, :remote => true, :class => "btn btn-warning" %>
      <% end %>
      <i class='glyphicon glyphicon-star'></i><%= @favorites[project.id - 1].count%>
  </td>
</tr>
<% end %>
