<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>

<h1><%= @project.id %>: <%= @project.name %></h1>
<h2><%= @project.group %></h2>
<p><%= @project.about %></p>
<div class="center">
  <%= button_to "お気に入り登録", {:action => "fav", :data => @project.id}, :remote => true, :class => "btn btn-warning" %>
</div>

<%= link_to '一覧', projects_detail_path, :class => "btn btn-primary" %>
<%= link_to 'トップ', projects_index_path, :class => "btn btn-success" %>

<%= stylesheet_link_tag "detail", :media=> "all" %>
