<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>
<%= image_tag 'image.png' , :width => '250', :height => '100'%>
<h1><%= link_to index_path, :class => 'top' do %>
  検索結果一覧
<% end %></h1>
<%= search_form_for @q do |f| %>
<div class="form-group">
  <div class="input-group">
    <%= f.text_field :name, :class => "form-control", :value => @value %>
    <span class="input-group-btn">
      <%= button_tag( class: "btn btn-primary", value: "search") do %>
        <%= content_tag :span, "検索", class: "glyphicon glyphicon-search" %>
      <% end %>
    </span>
  </div>
</div>
<% end %>

<%= link_to 'トップ', index_path, :class => "btn btn-success" %>
<div class="project_num">
<% if @projects.size == 0 %>
  該当データがありません
<% else %>
  <%= page_entries_info @projects %>
<% end %>
</div>
<%= paginate @projects %>
<table id="list_fav" class="table table-striped">
  <tr>
    <th><%= sort_link @q, :name, '用語名' %></th>
    <th><%= sort_link @q, :about, '概要' %></th>
    <th><%= sort_link @q, :kind, 'カテゴリー' %></th>
    <th><%= sort_link @q, :count, 'お気に入り' %></th>
  </tr>
    <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project.id) %></td>
          <td><%= link_to project.about, project_path(project.id) %></td>
          <td><%= link_to project.kind, project_path(project.id) %></td>
          <td id=<%= project.id %>>
            <% if @lists.include?(project.id.to_s) %>
              <%= button_to "お気に入り解除", {:action => "fav_remove", :data => project.id}, :remote => true, :onClick => "fav(0)", :class => "btn btn-danger" %>
            <% else %>
              <%= button_to "お気に入り登録", {:action => "fav", :data => project.id}, :remote => true, :onClick => "fav(1)", :class => "btn btn-warning" %>
            <% end %>
            <i class='glyphicon glyphicon-star'></i><span id="count"><%= project.count %></span>
          </td>
        </tr>
  <% end %>
</table>
<%= paginate @projects %>
<%= stylesheet_link_tag "list", :media => "all" %>
<%= javascript_include_tag "fav" %>
