<header>
  <h1>KeTchUp</h1>
  <h3>明日のために調べよう</h3>
</header>
<div id="word_area" class="center">
  <div id="word" class="fadein">
    <%= link_to detail_path(@project.name) do %>
      <%= @project.id %>: <%= @project.name %>
    <% end %>
  </div>
</div>
<div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <%=link_to projects_detail_path, :class=> "btn btn-primary" do %>
        <i class='glyphicon glyphicon-search'></i>検索
      <% end %>
    </span>
  </div>
</div>
<div class="fav-list">
  <button class="btn btn-info" onclick="list()">お気に入り一覧</button>
  <button class="btn btn-danger" onclick="clearall()">クリア</button>
</div>
<div id="show_result"></div>

<script>
function new_project() {
  $.ajax({
    url: 'index',
    type: 'GET',
    dataType: 'script'
    });
  setTimeout(execute,8500);
  }

  setInterval(new_project, 10000);
</script>
<%= stylesheet_link_tag "index", :media => "all" %>
<%= javascript_include_tag "fade" %>
<%= javascript_include_tag "fav" %>
