<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>

<h1><%= @project.name %></h1>
<h2><%= @project.about %></h2>
<p><%= @project.detail %></p>
<p><%= @project.kind %></p>
<div id="fav_detail" class="center">
  <% if @lists.include?(@project.id.to_s) %>
    <%= button_to "お気に入り解除", {:action => "fav_remove_in_detail", :data => @project.id}, :remote => true, :class => "btn btn-danger" %>
  <% else %>
    <%= button_to "お気に入り登録", {:action => "fav_detail", :data => @project.id}, :remote => true, :class => "btn btn-warning" %>
  <% end %>
  <i class='glyphicon glyphicon-star'></i>
  <%= @favorite.count %>
</div>
<%= link_to '一覧', projects_path, :class => "btn btn-primary" %>
<%= link_to 'トップ', index_path, :class => "btn btn-success" %>

<%= stylesheet_link_tag "detail", :media=> "all" %>
