<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>
<%= link_to index_path, :class => 'top' do %>
  <%= image_tag 'image.png' , :width => '250', :height => '100'%>
<% end %>
<div class="info_detail">
<h1><%= @project.name %></h1>
<h3><%= @project.about %></h3>
<p><%= simple_format(@project.detail.gsub(/\\n/, "\n")) %></p>
<p>カテゴリー：<%= @project.kind %></p>
</div>
<div id="fav_detail" class="center">
  <% if @lists.include?(@project.id.to_s) %>
    <%= button_to "お気に入り解除", {:action => "fav_remove", :data => @project.id}, :remote => true, :onclick => "disable()", :class => "btn btn-danger favorite_action" %>
  <% else %>
    <%= button_to "お気に入り登録", {:action => "fav", :data => @project.id}, :remote => true, :onclick => "disable()", :class => "btn btn-warning favorite_action" %>
  <% end %>
  <i class='glyphicon glyphicon-star'></i>
  <%= @project.count %>
</div>
<%= paginate @projects %>
<table id="list_fav" class="table table-striped">
  <tr>
    <th>似ているワード</th>
  </tr>
    <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project.id) %></td>
        </tr>
  <% end %>
</table>
<%= paginate @projects %>

<%= link_to '前のページへ戻る', :back, :class => "btn btn-primary" %>
<%= link_to 'トップ', index_path, :class => "btn btn-success" %>

<%= stylesheet_link_tag "detail", :media=> "all" %>
<%= javascript_include_tag "disable" %>
